:root {
  --primary-color: #ff000;
  --dropdown-z-index: 15;
  --loading-z-index:20;
  --main-color:  white;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid red; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        position: fixed;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.featured {
  height: 90vh;
  position: relative;
}

/* Bottom left text */
/* .bottom-left {
  position: absolute;
  bottom: 30%;
  left: 10%;
} */
.love-heart {
  position:absolute;


  color: red;
}

.featured img {
  width: 100%;
  height: 90vh;
}

.info {
  width: 35%;
  position: absolute;
  left: 50px;
  bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
}
 .info img {
    width: 400px;
  }

  .desc {
    margin: 20px 0px;
  }

  .buttons {
    display: flex;
  }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;
      margin-right: 10px;
      cursor: pointer;
    }

    .play {
        background-color: red;
        color: var(--main-color);
      }

    button .more {
        background-color: gray;
        color: white;
      }

      span {
        margin-left: 5px;
      }

  /* .movie h2{
    text-wrap:wrap;
  } */



.cards {
  display: grid;
  grid-template-columns: 12% 12% 12% 12%;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 10px;
}

.moviebox-card {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 10%;
  gap: 3rem;
}
.moviebox {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  text-align: center;


}
.play-quizzes {
  text-align: left;

  padding: 10px;
  background-color: #e1dddd;
  border-color: #ecb9b9;
  border-radius: 15px;
  margin: 20px;

}
.quiz-btn {
  border-radius: 20px;
  background-color: #d5acac;
  color: rgb(184, 73, 73);
  text-align: center;
  margin-left: 20px;

}
.one-movie-card {
 margin-left: 30%;
  margin-top: 10px;
  display: grid;
  gap: 3rem;
}

.one-movie-buttons  {
  display: flex;
  flex-direction: row;
}
.one-movie-buttons  button {
  width: 250px;
  margin-top: 0;
}
#watch-more {
  margin-top: 10px;
}
.movie-director {
  display: flex;
  flex-direction: row;
}
.images-div {
  width: 90%;
  height: 50%;
  border-color: grey;
  border-style: solid;
  background-color: #c14fc1;
  margin-top: 5px;
}
